@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.card {
    height: 60vh;
    width: 60vw;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    border-radius: 16px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    margin-top: 50px;
}

.city {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 5px 0 5px 0;
}

.city label {
    padding-bottom: 5px;
}

.autocomplete__wrapper {
    position: relative;
}

input {
    width: 100%;
    padding: 10px;
    font-size: var(--inputFontSize);
    border: none;
    border-radius: 0.4rem;
}

input:focus {
    outline: none;
}

.autocomplete__list {
    height: auto;
    overflow: auto;
    max-height: 200px;
    position: absolute;
    top: calc(88%);
    /* right: calc(47%); */
    width: 100%;
    background-color: #fff;
    border-radius: 0.4rem 0.4rem 0.4rem 0.4rem / 0px 0px 0.4rem 0.4rem;
    box-shadow: rgb(0 0 0 / 35%) 0px 15px 15px;
    z-index: 1;
}  

.autocomplete__list::-webkit-scrollbar {
    display: none;
}

.autocomplete__item {
    cursor: pointer;
    transition: background-color .15s;
    padding: 5px 5px 5px 10px;
    display: flex;
    flex-direction: column;
}

.autocomplete__item small {
    opacity: 0.7;
}

.autocomplete__item:hover {
    background-color: #ccc;
}

.hide {
    display: none;
<<<<<<< HEAD
=======
}

.wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
>>>>>>> 72b1d7b03ef42857596cf69c677b514efe4beb43
}